<section class="form_main">
  <div class="container-fluid">
    <div class="row">
      <div class= "col-md-10 mx-auto">
        <p class="text-center bg-black text-white p-2 w-100 mb-0 fw-bold fs-3">
          BARRIERS
        </p>
      </div>
    </div>
    <div class="box_main">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="box_inner_child">
            <ul class="nav nav-tabs p-2" id="myTab" role="tablist">
              <li class="nav-item text-center" role="presentation">
                <button class="nav-link w-100" id="home-tab" data-bs-toggle="tab"
                  data-bs-target="#home" type="button" role="tab" aria-controls="home"
                  aria-selected="true">AUTO</button>
              </li>
              <li class="nav-item text-center ms-auto" role="presentation">
                <button class="nav-link active w-100" id="profile-tab" data-bs-toggle="tab"
                  data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                  aria-selected="false">PERMANENT</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="home" role="tabpanel"
                aria-labelledby="home-tab">
                <h2 class='text-start'><span class="fw-bold me-5">AUTO BARRIERS</span>
                  Manage all of your AUTO Barriers
                  below 
                </h2>
                <p class=" text-dark fs-6 px-2 mt-3 ">Browse your computer for the new government KMZ file to update Auto
                  Barriers: NB This will deactivate all current Auto Barriers.
                </p>
                
                <%= form_with(url: admin_upload_kmz_path, method: 'post', local: true, multipart: true, data: { turbo_frame: 'upload-form-container' }) do |form| %>
                  <div class="box position-relative">
                    <div class="row">
                      <div class="col-md-8 mx-auto">
                        <div class="form-group">
                          <%= form.file_field :kmz_file, class: "file", id: "kmz-file" %>
                          <div class="input-group mb-3">
                            <%= form.text_field :placeholder, disabled: true, class: "form-control rounded-0", placeholder: "Upload File", "aria-label" => "Upload File", "aria-describedby" => "basic-addon1" %>
                            <div class="input-group-append">
                              <button type="button" class="browse input-group-text btn btn-upload ms-3" id="browse-button">Browse</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8 text-center mx-auto">
                        <%= form.submit 'Process File', class: "btn btn-secondary rounded-0 mx-auto" %>
                      </div>
                    </div>
                  </div>
                <% end %>               
              </div>
              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2 class='text-start'><span class="fw-bold me-5">PERMANENT BARRIERS</span>
                  Manage all of your Permanent Barriers
                  below 
                </h2>
                <div id="error-message"></div>
                <div class="box text-start">
                  <%= render 'admin/barriers/form', barrier: @barrier %>               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'barriers' %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const fileInput = document.getElementById('kmz-file');
    const browseButton = document.getElementById('browse-button');
    const newBarrierForm = document.getElementById('new-barrier-form');
    const errorMessageContainer = document.getElementById('error-message');

    browseButton.addEventListener('click', function() {
      fileInput.click();
    });

    fileInput.addEventListener('change', function() {
      const fileName = fileInput.files[0] ? fileInput.files[0].name : 'Upload File';
      document.getElementById('kmz-file').nextElementSibling.querySelector('input').value = fileName;
    });

    document.addEventListener('DOMContentLoaded', function() {
      const newBarrierForm = document.getElementById('new-barrier-form');
    
      newBarrierForm.addEventListener('submit', function(event) {
        event.preventDefault();
    
        const formData = new FormData(event.target);
    
        fetch(event.target.action, {
          method: 'POST',  // Explicitly specify the method
          body: formData,
          headers: {
            'Accept': 'text/javascript',
            'X-CSRF-Token': Rails.csrfToken()
          }
        }).then(response => {
          if (response.ok) {
            // Request succeeded, handle the response
            return response.text();
          } else {
            // Request failed, handle the error
            throw new Error('Failed to add barrier');
          }
        }).then(responseText => {
          // Handle the response text (this could be success or error message)
          console.log(responseText);
        }).catch(error => {
          // Handle any errors during the fetch
          console.error(error);
        });
      });
    });
    
  });
</script>
