<section class="form_main">
  <p class="text-center bg-black text-white p-2 w-100 mb-0 fw-bold fs-3">
    JOB SHEET
  </p>
  <div class="container-fluid">
    <div class="row">
      <div class= "col-md-12 p-0 mx-auto">
      </div>
      <h2 class='text-start'><span class="fw-bold me-5">JOB DETAILS</span>
        Enter the details for the job sheet below
      </h2>
    </div>
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="box text-start">
          <%= form_for(JobSheet.new, url: admin_job_sheets_path, method: 'post',id: 'new_job_sheet') do |form| %>
            <div class="box_main">
              <div class="box_inner_child border-0">
                <p class="text-start fs-5 mb-3"> All of these fields will be on the generated job sheet </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3 text-start">
                      <%= form.label :start_address, class: "form-label fw-bold" do %>
                      Start Address:
                      <% end %>
                      <%= form.text_area :start_address, class: "form-control rounded-0", id: "exampleStartAddress" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 text-start">
                      <%= form.label :end_address, class: "form-label fw-bold" do %>
                      End Address:
                      <% end %>
                      <%= form.text_area :end_address, class: "form-control rounded-0", id: "exampleEndAddress" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 text-start">
                      <%= form.label :customer_name, class: "form-label fw-bold" do %>
                      Customer Name:
                      <% end %>
                      <%= form.text_field :customer_name, class: "form-control rounded-0", id: "exampleInputPassword1" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 text-start">
                      <%= form.label :site_contact, class: "form-label fw-bold" do %>
                      Site Contact:
                      <% end %>
                      <%= form.text_field :site_contact, class: "form-control rounded-0", id: "exampleInputPassword1" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 text-start">
                      <%= form.label :contact_number, class: "form-label fw-bold" do %>
                      Contact Number:
                      <% end %>
                      <%= form.text_field :contact_number, class: "form-control rounded-0", id: "exampleInputPassword1" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 text-start form-check ps-0">
                      <%= form.label :job_number, class: "form-label fw-bold" do %>
                      Job Number:
                      <% end %>
                      <%= form.text_field :job_number, class: "form-control rounded-0", id: "exampleInputPassword1" %>
                    </div>
                  </div>
                  <div class="mb-3 text-start">
                    <%= form.label :job_instruction, class: "form-label fw-bold" do %>
                    Job Special Instruction:
                    <% end %>
                    <%= form.text_area :job_instruction, class: "form-control rounded-0", id: "exampleInputEmail1", "a  ria-describedby" => "emailHelp" %>
                  </div>
                  <%= form.button 'PROCESS', class: "btn add_btn w-100 p-2 p-lg-2 fw-bold text-white rounded-0", type: 'submit' %>
                </div>
              </div>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
    <div id="error-message"></div>
  </div>
</section>


<script>
  start_address = $('#start-location-input').val()
                  $('#exampleStartAddress').val(start_address)
  end_address = $('#end-location-input').val()
                  $('#exampleEndAddress').val(end_address)
  
</script>


<script>
  $(document).ready(function () {
    $('#new_job_sheet').submit(function (event) {
      event.preventDefault();

      // Create a FormData object to handle form data
      const formData = new FormData(this);

      // Use fetch to send a POST request with form data
      fetch(this.action, {
        method: 'POST',
        body: formData
      })
      .then(response => response.blob())
      .then(blob => {
        // Create a blob URL for the response
        const url = URL.createObjectURL(blob);

        // Create a temporary link element
        const link = document.createElement('a');
        link.href = url;
        link.download = 'job_sheet.pdf';

        // Append the link to the body and trigger a click
        document.body.appendChild(link);
        link.click();

        // Remove the link and revoke the URL after a delay
        setTimeout(function () {
          document.body.removeChild(link);
          URL.revokeObjectURL(url);
        }, 5000);
      });
    });
  });
</script>
