<!DOCTYPE html>
<html>
<head>
  <title>Location Detail</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      text-align: left;
    }

    .header .logo {
      text-align: right;
    }

    .details {
      margin-bottom: 50px;
    }

    .info {
      margin-top: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .map {
      page-break-before: always;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="logo">
    <img src="/assets/logo.jpg" alt="Logo" class="logo"> <!-- Adjust the path to your logo -->
  </div>
  <div class="details">
    <h1>Location Detail</h1>
    <div class="info">
      <p><strong>JOB LOCATION:</strong></br> <%= @job_sheet.start_address %> to <%= @job_sheet.end_address %></p>
      <p><strong>CUSTOMER NAME:</strong> <%= @job_sheet.customer_name %></p>
      <p><strong>SITE CONTACT:</strong> <%= @job_sheet.site_contact %></p>
      <p><strong>CONTACT NUMBER:</strong> <%= @job_sheet.contact_number %></p>
      <p><strong>JOB NUMBER:</strong> <%= @job_sheet.job_number %></p>
      <p><strong>NOTES:</strong></br><%= @job_sheet.job_instruction %></p>
    </div>
  </div>
</div>

<h3>DIRECTIONS</h3>
<% @directions.each_with_index do |route_instructions, route_index| %>
  <br><h3><strong>Route <%= route_index + 1 %></strong></h3>
  <table>
    <thead>
      <tr>
        <th>Step</th>
        <th>Instruction</th>
      </tr>
    </thead>
    <tbody>
      <% route_instructions.each_with_index do |direction, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= direction.html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="map">
  <h2>MAP:</h2>
  <%= image_tag 'map_image.png', alt: 'Map' %>
</div>
</body>
</html>